@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(135deg, #401E60 0%, #6A328A 100%);
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
  width: 89%;
  margin: 0 auto; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav .left {
    display: flex;
    align-items: center; }
  nav img {
    width: 75px;
    margin-right: 80px;
    margin-top: 7px; }
  nav il {
    font-size: 21px;
    margin-right: 40px; }
  nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-out; }
    nav a:hover {
      color: #EB461B; }
  nav .input {
    display: flex;
    margin-bottom: 6px; }
    nav .input input {
      text-align: center;
      background: none;
      border: none;
      font-size: 18px;
      border-bottom: 1px solid white;
      color: white;
      outline: none;
      transition: 0.2S; }
      nav .input input::placeholder {
        color: rgba(255, 255, 255, 0.699); }
      nav .input input:focus {
        border-bottom: 1px solid #EB461B; }
    nav .input img {
      width: 32px;
      margin-left: 50px;
      margin-right: 30px; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container img {
    height: 600px;
    margin-top: 60px; }
  .container h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .container p {
    width: 55%;
    color: rgba(255, 255, 255, 0.658); }
  .container button {
    color: #EB461B;
    border: 3px solid #EB461B;
    background: none;
    padding: 10px 40px;
    font-size: 16px;
    border: 2px solid;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: all .5s;
    border-radius: 2px;
    outline: none; }
  .container .buy {
    padding: 10px 45px;
    overflow: hidden;
    transition: 1s all ease;
    border: 3px solid #EB461B; }
  .container .buy:hover {
    color: white; }
  .container .buy::before {
    content: '';
    background: #EB461B;
    position: absolute;
    height: 380%;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    transition: all .8s ease; }
  .container .buy:hover::before {
    width: 100%; }

.card {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: #33184d;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card:hover .img-box {
    top: 5%;
    transform: translateY(0%);
    transform: rotate(-25deg); }
  .card:hover .content-box {
    bottom: 3%; }
    .card:hover .content-box button {
      opacity: 1; }
  .card::before {
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #498a87;
    border-radius: 10px;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
    z-index: 1; }
  .card:hover::before {
    clip-path: circle(300px at 80% -20%); }
  .card::after {
    content: 'Nike';
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 12rem;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.041); }
  .card .img-box {
    position: absolute;
    top: 20%;
    right: 15%;
    transform: translateY(-50%);
    transform: rotate(-25deg);
    z-index: 1;
    transition: .5s; }
  .card img {
    width: 250px; }

.content-box {
  text-align: center;
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 5;
  transition: 0.5s; }
  .content-box h2 {
    margin-bottom: 50px; }
  .content-box button {
    padding: 10PX 30px;
    background-color: white;
    border: none;
    border-radius: 8Px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s; }

.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .cards span {
    font-size: 22px; }
  .cards .card2::before {
    background-color: #5d5f6a; }
  .cards .card3::before {
    background: #6f292f; }
  .cards .card4::before {
    background-color: #da5167; }
  .cards .card5::before {
    background-color: #a91925; }
  .cards .card6::before {
    background-color: #efaa2e; }
  .cards .card7::before {
    background-color: #9ac858; }
  .cards .card8::before {
    background-color: #d5746b; }
  .cards .card9::before {
    background-color: #c1b4a4; }
