@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(135deg, #401E60 0%, #6A328A 100%);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
  width: 89%;
  margin: 0 auto; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav .left {
    display: flex;
    align-items: center; }
  nav img {
    width: 75px;
    margin-right: 80px;
    margin-top: 7px; }
  nav il {
    font-size: 21px;
    margin-right: 40px; }
  nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-out; }
    nav a:hover {
      color: #EB461B; }
  nav .input {
    display: flex;
    margin-bottom: 6px; }
    nav .input input {
      text-align: center;
      background: none;
      border: none;
      font-size: 18px;
      border-bottom: 1px solid white;
      color: white;
      outline: none;
      transition: 0.2S; }
      nav .input input::placeholder {
        color: rgba(255, 255, 255, 0.699); }
      nav .input input:focus {
        border-bottom: 1px solid #EB461B; }
    nav .input img {
      width: 32px;
      margin-left: 50px;
      margin-right: 30px; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container img {
    height: 600px;
    margin-top: 60px; }
  .container h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .container p {
    width: 55%;
    color: rgba(255, 255, 255, 0.658); }
  .container button {
    color: #EB461B;
    border: 3px solid #EB461B;
    background: none;
    padding: 10px 40px;
    font-size: 16px;
    border: 2px solid;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: all .5s;
    border-radius: 2px;
    outline: none; }
  .container .buy {
    padding: 10px 45px;
    overflow: hidden;
    transition: 1s all ease;
    border: 3px solid #EB461B; }
  .container .buy:hover {
    color: white; }
  .container .buy::before {
    content: '';
    background: #EB461B;
    position: absolute;
    height: 380%;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    transition: all .8s ease; }
  .container .buy:hover::before {
    width: 100%; }
