@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 5px;


    }

    &::-webkit-scrollbar-track {

        background: #6A328A;


    }


    &::-webkit-scrollbar-thumb {
        background: rgba(235, 69, 27, 0.712);
        border-radius: 8px;
        transition: .3s;

    }


    &::-webkit-scrollbar-thumb:hover {
        background: rgba(245, 99, 63, 0.795);
    }

}




body {


    background-image: linear-gradient(135deg, #401E60 0%, #6A328A 100%);

    height: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;

    margin: 0 auto;


    &::-webkit-scrollbar {
        width: 5px;


    }

    &::-webkit-scrollbar-track {

        background: #6A328A;


    }


    &::-webkit-scrollbar-thumb {
        background: rgba(235, 69, 27, 0.712);
        border-radius: 8px;
        transition: .3s;

    }


    &::-webkit-scrollbar-thumb:hover {
        background: rgba(245, 99, 63, 0.795);
    }





}



.store-nav {
    position: sticky;
    top: 0;
    z-index: 23;
    background-color: #622e8298;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.082);





}

.item-number {
    position: absolute;
    top: 0;
    right: 12%;

    padding: 0 5px;
    background-color: #EB461B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    font-size: 20px;

}

.scale {
    animation: scale .5s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.card-btn {
    position: relative;
}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%;
    margin: 0 auto;


    .left {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    img {
        width: 75px;
        margin-right: 80px;
        margin-top: 7px;
    }

    il {

        font-size: 21px;
        margin-right: 40px;
    }

    a {
        color: white;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
            color: #EB461B;
        }
    }

    .input {

        display: flex;

        margin-bottom: 6px;

        input {
            text-align: center;
            background: none;
            border: none;
            font-size: 18px;
            border-bottom: 1px solid white;

            color: white;
            outline: none;
            transition: 0.2S;

            &::placeholder {
                color: rgba(255, 255, 255, 0.699);
            }

            &:focus {
                border-bottom: 1px solid #EB461B;
            }


        }

        img {
            width: 32px;
            margin-left: 50px;

            margin-right: 30px;
        }
    }


}


.container {
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    img {
        height: 600px;
        margin-top: 60px;
    }



    h1 {
        font-size: 70px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        width: 55%;
        color: rgba(255, 255, 255, 0.658);
    }

    button {
        color: #EB461B;
        border: 3px solid #EB461B;
        background: none;
        padding: 10px 40px;
        font-size: 16px;
        border: 2px solid;

        margin-top: 30px;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        transition: all .5s;
        border-radius: 2px;
        outline: none;


    }

    .buy {
        padding: 10px 45px;
        overflow: hidden;
        transition: 1s all ease;
        border: 3px solid #EB461B;
    }

    .buy:hover {
        color: white;

    }

    .buy::before {
        content: '';
        background: #EB461B;
        position: absolute;
        height: 380%;
        width: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
        transition: all .8s ease;


    }



    .buy:hover::before {
        width: 100%;
    }

}

//:::::::::::::::::::::::::::::::::::::::::: store page :::::::::::::::::::::::::::::::::::::::::://



.card {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: rgb(51, 24, 77);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover .img-box {
        top: 5%;
        transform: translateY(0%);
        transform: rotate(-17deg);


    }

    &:hover .content-box {
        bottom: 8%;

        button {
            opacity: 1;
        }

    }



    &::before {
        content: '';
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #498a87;
        border-radius: 10px;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
        z-index: 1;



    }

    &:hover::before {
        clip-path: circle(300px at 80% -20%);
    }

    &::after {
        content: 'Nike';
        position: absolute;
        top: 45%;
        right: 0;
        font-size: 12rem;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 255, 0.041);

    }

    .img-box {
        position: absolute;
        top: 20%;
        right: 15%;
        transform: translateY(-50%);
        transform: rotate(-25deg);


        z-index: 1;
        transition: .5s;


    }

    img {




        width: 250px;

    }


}

.content-box {
    text-align: center;
    position: absolute;
    bottom: -8%;
    width: 100%;
    z-index: 5;
    transition: 0.5s;

    h2 {
        margin-bottom: 50px;
        font-size: 30px;
    }

    button {
        padding: 10px 30px 8px;
        background-color: white;
        border: none;
        border-radius: 8Px;
        font-size: 18px;
        font-weight: bold;
        color: rgb(80, 37, 121);
        cursor: pointer;
        opacity: 0;
        transition: 0.3s ease;
        outline: none;

        &:hover {
            background-color: #EB461B;
            color: white;
        }


    }

}

.cards {
    width: 89%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    span {

        font-size: 22px;


    }


    .card2::before {
        background-color: #5d5f6a;


    }



    .card3::before {
        background: #6f292f;
    }

    .card4::before {
        background-color: #da5167;

    }

    .card5::before {
        background-color: #a91925;
    }

    .card6::before {
        background-color: #efaa2e;
    }

    .card7::before {
        background-color: #9ac858;
    }

    .card8::before {
        background-color: #d5746b;
    }

    .card9::before {
        background-color: #c1b4a4;
    }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: cart 





.card-btn {
    cursor: pointer;
}

.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 37, 121, 0.479);
    z-index: 45;
    transition: .4s ease-in-out;
    visibility: hidden;


    .cart {
        position: fixed;
        top: 0;
        right: 0;
        width: 39%;
        height: 100%;
        background-color: #58297e;
        overflow: auto;
        transition: .5s;
        padding: 1.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.082);

        transform: translateX(100%);


        .fa-window-close {
            margin-left: 90%;
            font-size: 30px;
            cursor: pointer;
            transition: .2s;
            cursor: pointer;


            &:hover {
                color: #EB461B;
            }


        }

        h2 {
            text-align: center;
            letter-spacing: 3px;
            margin-bottom: 40px;
        }
    }

    .cart-item {
        text-align: center;
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        margin-bottom: 20px;
        align-items: center;

        img {
            width: 140px;
        }

        .item-text {
            text-align: left;


            h4 {
                font-size: 20px;
                margin-bottom: 5px;

            }

            h5 {
                font-size: 18px;
            }

            span {
                font-size: 20px;
                color: rgb(221, 218, 218);
                cursor: pointer;
                transition: .2s;


                &:hover {
                    color: #EB461B;
                }
            }
        }

        .fa-chevron-down,
        .fa-chevron-up {
            color: #EB461B;
            cursor: pointer;
        }
    }

    .cart-footer {

        margin-top: 50px;
        text-align: center;

        button {
            padding: 10px 30px;
            background-color: #EB461B;
            border: none;
            font-size: 24px;
            color: white;
            margin-top: 20px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;
            outline: none;



            &:hover {
                background-color: rgb(209, 62, 25);
                color: rgb(230, 227, 227);
            }
        }
    }
}

.visib {
    visibility: visible;
}

.tran {


    transform: translateX(0%) !important;
}